<template name="mapping">
  <div class="container">
      <div class="col-md-6 col-lg-6 tweet-list">
      <ul class="list-group">
      	<li id="currentPosition" class="list-group-item spacing"><span><h4 id="city-name">Turin</h4></span><span id="city-coords"></span></li>
      </ul>
        <form role="form">
          <div class="input-group">
            <input id="city" type="text" class="form-control">
            <span class="input-group-btn">
              <button id="map-search" class="btn btn-primary" type="button">Go!</button>
              <button id="stream-stop" type="button" class="btn btn-danger">Stop</button>
            </span>
          </div><!-- /input-group -->

    </form>
    <div id="map-canvas"></div>
    </div>
    <div class="col-md-6 col-lg-6 tweet-list">
      <div class="list-group">
  {{#each geotweets}}
    <div class="list-group-item">
        <div class="row-picture">
            <img class="circle" src={{profilePhoto}} alt="icon">
        </div>
        <div class="row-content">
            <h4 class="list-group-item-heading">{{username}}</h4>
            <p class="list-group-item-text">{{userTweet}}</p>
        </div>
    </div>
    <div class="list-group-separator"></div>
    {{/each}}
</div>
    </div>
  </div>
</template>

